
﻿.validation-summary-errors {
    border: 2px dotted #a94442;
    background-color:#ff006e;
    border-radius: 8px;
    margin-bottom: 8px;
}

.validation-summary-errors ul {
    border: 2px dotted #a94442;
    background-color: #a94442;
    border-radius: 8px;
    margin-bottom: 8px;
    list-style-type: none;
    padding: 10px;
    color: #ffffff;
}
